@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    890 Fifth Ave<br />
    Manhattan, New York City, NY<br />
    <abbr title="Phone">P:</abbr>
    4678.136.7092
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:C4P@Av3nge.com">C4P@Av3nge.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:PetesPhotos@Av3nge.com">PetesPhotos@Av3nge.com</a>
</address>