@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>SPIDER-MAN</h1>
        <p class="lead">Miles Morales</p>
        <p><a href="https://https://www.marvel.com/characters/spider-man-miles-morales" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Story</h2>
        <p>
           "In the alternate reality of Earth-1610, a 
           young New York City teen was bitten by 
           a genetically enhanced spider. When the 
           Peter Parker of that dimension was 
           killed, the teen—named Miles Morales—
           was inspired to take up the fallen mantle."
                        - Marvel.com
        </p>
    </div>
    <div class="col-md-4">
        <h2>In Action</h2>
        <img src="~/Images/Spider-Man_(Miles_Morales).jpg" />
    </div>
    <div class="col-md-4">
        <h2>The Best Hero</h2>
        <p>He's baller af, my dude</p>
    </div>
</div>